<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Professors</title>
</head>
<body>
<!--/*thymesVar id="professor" type="com.java.academicrecord.model.Professor"*/-->
    <h1 th:text="'Current Professors'"> Available Professors</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="professor:${professors}">
            <td th:text="${professor.id}">1</td>
            <td th:text="${professor.firsName}">Juan</td>
            <td th:text="${professor.lastName}">McCormick</td>
        </tr>
        </tbody>
    </table>
</body>
</html>