<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Courses</title>
</head>
<body>
<!--/*thymesVar id="course" type="com.java.academicrecord.model.Course"*/-->
<h1 th:text="'List of Courses'">List of Courses</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Course Name</th>
        <th>Number of Students</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course:${courses}">
        <td th:text="${course.id}">1</td>
        <td th:text="${course.courseName}">Computer Science</td>
        <td th:text="${course.numberOfStudents}">0</td>
    </tr>
    </tbody>
</table>
</body>
</html>